@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    /*--cor01: #DC7100;*/
    --cor01: rgb(136, 0, 0);
    --fontetítulo: Arial, Helvetica, sans-serif;
    --fontetexto: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(128, 128, 128, 0.411);
    
}

header{
    background-color: var(--cor01);
    text-align: center;
    padding-top: 50px;
    height: 25vh;
}

header > h1{
    font-size: 3.5em;
    font-family: var(--fontetítulo);
    text-shadow: 3px 0px 7px rgba(0, 0, 0, 0.747);
    font-variant: small-caps;
}

header > p{
    font-size: 20px;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.747);
}

nav{
    text-align: left;
    margin-top: 45px;
}

nav > a{
    font-family: var(--fontetítulo);
    margin: 0px 20px 0px 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover{
    background-color: #6e655d80;
    padding: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

main{
    background-color: white;
    box-shadow: 3px 0px 6px black;
    margin: auto;
    padding: 10px;
    max-width: 1200px;
    height: auto;
}

main section{
    display: inline-block;
    margin: 10px;
    border: 3px solid black;
    height: 230px;
    width: 199px;
    text-align: center;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.459);
}

main section h2{
    font-family: var(--fontetítulo);
    font-size: 1.2em;
}

.artigo{
    font-size: 4em;
    font-family: var(--fontetítulo);
}

main section p{
    font-size: 1.3em;
}

.texto{
    font-family: var(--fontetexto);
}

main section a{
    color: darkblue;
    text-decoration: none;
}

main section:hover{
    margin: 30px;
    transition-duration: 1s;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.459);
}

img.imagem{
    margin: 5px 3px 1px 0px;
}

img#maisalta.imagem{
    max-width: 180px;
    min-width: 50px;
}

img#pedro{
    margin: 20px 300px 0px 0px;
}

aside.video{
    margin: 0px 0px 30px -20px;
    padding: 20px;
    padding-bottom: 46%;
    position: relative;
}

aside.video > iframe{
    position: absolute;
    top: 2%;
    left: 23%;
    width: 56%;
    height: 63%;
}

aside.video > video{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 60%;
}

footer{
    background-color: var(--cor01);
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(207, 207, 207);
}

footer  a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}